In [1]:
import pandas as pd
import json
from sklearn.ensemble import RandomForestClassifier
import numpy as np

In [2]:
train = pd.read_csv('train.csv')

In [3]:
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
train['Sex'].replace({'male': 0, 'female':1}, inplace = True)
train = train[train['Age'].isnull() == False]
train = train[train['Embarked'].isnull() == False]
train = pd.concat([train,  pd.get_dummies(train['Embarked'], prefix = 'Embarked')], axis=1)

In [5]:
train.drop(columns=['Name', 'Ticket' ,'Cabin', 'Embarked', 'Embarked_C', 'PassengerId'], inplace = True)

In [6]:
scaling_params = {
    'age_std': train['Age'].std(),
    'age_mean': train['Age'].mean(),
    'fare_std': train['Fare'].std(),
    'fare_mean': train['Fare'].mean()    
}

In [7]:
with open('scaling_params.json', 'w') as result:
    json.dump(scaling_params, result)

In [8]:
train['Age'] = (train['Age'] - scaling_params['age_std'])/scaling_params['age_mean']
train['Fare'] = (train['Fare'] - scaling_params['fare_std'])/scaling_params['fare_mean']

In [9]:
y = train['Survived'].copy()
X = train.drop(columns='Survived')

In [10]:
train

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_Q,Embarked_S
0,0,3,0,0.253257,1,0,-1.321732,0,1
1,1,1,1,0.793030,1,0,0.530695,0,0
2,1,3,1,0.388200,0,0,-1.302205,0,1
3,1,1,1,0.691823,1,0,0.004668,0,1
4,0,3,0,0.691823,0,0,-1.298589,0,1
...,...,...,...,...,...,...,...,...,...
885,0,3,1,0.826766,0,5,-0.688908,1,0
886,0,2,0,0.421936,0,0,-1.155390,0,1
887,1,1,1,0.152050,0,0,-0.663595,0,1
889,1,1,0,0.388200,0,0,-0.663595,0,0
890,0,3,0,0.590615,0,0,-1.307268,1,0

In [11]:
classifier = RandomForestClassifier()

In [12]:
classifier.fit(X,y)

RandomForestClassifier()

In [13]:
from modelLoaderSaver import modelLoaderSaver
saver = modelLoaderSaver(classifier)
saver.save('model_params.txt')

Class instance RandomForestClassifier() saved into model_params.txt.

In [14]:
from modelLoaderSaver import modelLoaderSaver
from sklearn.ensemble import RandomForestClassifier
from numpy import array, int64
from sklearn.tree import DecisionTreeClassifier

classifier2 = RandomForestClassifier()
classifier2.__dict__ = {}
loader = modelLoaderSaver(classifier2)


loader.load('model_params.txt')

Class instance RandomForestClassifier() loaded.

In [ ]:
with open('model_params.txt', 'r') as file:
     for line in file:
        my_dict = line

In [22]:
test = X.iloc[0,:].values

In [27]:
classifier.predict_proba(test.reshape(1,-1))[0][1]

0.075

In [ ]:
my_dict

In [ ]:
eval(my_dict)

In [ ]:
ast.literal_eval(my_dict)

In [ ]:
vars(classifier2) == vars(classifier)

In [ ]:
value = { k : vars(classifier2)[k] for k in set(vars(classifier2)) - set(vars(classifier)) }

In [ ]:
value

In [ ]:
estimator = classifier

In [ ]:
attrs = [v for v in vars(estimator)
                 if v.endswith("_") and not v.startswith("__")]

if not attrs:
    print('error')

In [ ]:
attrs

In [ ]:
vars(classifier)